
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clear {
  clear: both;
}

body {
  background: url('../images/asher brown durand.jpg');
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a {
  text-decoration: none;
}

#container {
  width: 455px; height: 100%;
  padding: 15px;
  position: absolute;
  background: url("../images/asher brown durand.jpg");
  background-position: left;
  background-attachment: revert;
  filter: blur(5px);
}

.text {
  width: 424px;
  color: white;
  font-family: 'Mulish', sans-serif;
  padding: 15px;
  position: relative;
}

h1 {
  font-size: 60px;
  color: white;
}

h2 {
  background: yellowgreen;
  color: black;
  padding: 5px;
  border-radius: 5px;
}
